<div class="field">
  <label>ID</label>
  <%= @article.id %>
</div>
<div class="field">
  <label>カテゴリ</label>
  <%= @article.category.name %>
</div>
<div class="field">
  <label>タイトル</label>
  <%= @article.title %>
</div>
<div class="field">
  <label>説明</label>
  <%= @article.description %>
</div>
<div class="field">
  <label>写真</label>
  <%= @article.photo %>
</div>
<div class="field">
  <label>テキスト</label>
  <%= markdown(@article.text) %>
</div>

<div class="vs">
  <%= link_to '一覧', admin_articles_path, { class: "btn btn-default" } %>
  <%= link_to '編集', edit_admin_article_path(@article), { class: "btn btn-default" } %>
</div>
