<h1><%= @article.title %></h1>
<div class="vs">
  <time><%= @article.created_at.strftime("%Y/%m/%d") %></time>
  <span><%= @article.category.name %></span>
</div>
<% if @article.photo.present? %>
  <%= image_tag @article.photo_path %>
<% end %>
<%= markdown(@article.text) %>
